<h1>Departments</h1>

<% @departments.each do |department| %>
  <p><%= department.title %></p>
  <p><%= department.subtitle %></p>
  <p><%= department.body %></p>
  <%= image_tag department.thumb_image unless department.thumb_image.nil? %>
<% end %>